<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>KFG OTP</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- start: Favicon -->
	<link rel="shortcut icon" href="/img/icon/becheck.png" th:href="@{/img/icon/becheck.png}"/>
<!-- end: Favicon -->	

    <link rel="stylesheet" type="text/css" media="all"	th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" media="all"	th:href="@{/css/login.css}"/>
	<script type="text/javascript" th:src="@{/js/login/login.js}"></script>
</head>
<body>
<div class="container">
	<div class="col-xs-12">
		<div class="wrap">
			<br/>
			<br/>
			<br/>
			<p class="form-title">초기화가 정상적으로 완료되었습니다.</p>
			<p class="form-title">비번은 주민번호상</p>
			<p class="form-title">생년월일 6자리 + kfga 입니다.</p>
			<p class="form-title">(예 : 801231kfga)</p>
			<p class="form-title">*로그인 후 반드시 비번을 변경해 주시기 바랍니다.</p>
		</div>
	</div>
</div>





<!-- 
	<div>
		<h1>Spring security + OTP 2step Verficiation Complete</h1>
	</div>
	<div>
		참 쉽죠?
	</div>
 -->
</body>
</html>